#memory_board {
    background-image: url(assets/images/Death-Star.jpg) no-repeat;
    border: #999 1px solid;
    width: 900px;
    height: 800px;
    margin-left: 25px;
}

#memory_board div {
    background-image: url(assets/images/images.png) no-repeat;
    border: #000 1px solid;
    width: 87px;
    height: 87px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}
